<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-bottom:10px;">
<center>
<!--<h2 class="mt-4">Bookings</h2></center>-->


<center>
    <form method="POST">

      <h3 class="mt-4">BOOKINGS</h3>
      <div class="mb-3">
        <label class="form-label">FullName</label>
        <input type="text" class="form-control" name="u" placeholder="enter the username">
      </div>
      <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="password" class="form-control" name="p" placeholder="enter password">
      </div>
      <div class="mb-3">
        <label class="form-label">Place</label>
        <input type="password" class="form-control" name="cp" placeholder="re-enter your password">
      </div>

        <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" name="e" placeholder="re-enter your email address">
      </div>
        <div class="mb-3">
        <label class="form-label">booking date</label>
        <input type="text" class="form-control" name="f" placeholder="re-enter your first name">
      </div>
        <div class="mb-3">
        <label class="form-label">staff name</label>
        <input type="text" class="form-control" name="l" placeholder="re-enter your last name">
      </div>
        <div class="mb-3">
        <label class="form-label">treatment</label>
        <input type="email" class="form-control" name="e" placeholder="re-enter your email address">
      </div>


      <input type="submit" class="form-control">
    </form>
</center>
</div>
{% endblock %}