{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--<div class="container-fluid mt-2">-->
<!--    <img src="{% static 'images/banner.jpg' %}" height="100px" width="100%">-->
<!--</div>-->
<!--<div class="container-fluid mt-1">-->
<!--    <img src="{% static 'images/banner.jpg' %}" height="600px" width="100%">-->
<!--</div>-->
<!--<div class="container-fluid mt-2">-->
<!--    <img src="{% static 'images/banner4.jpg' %}" height="600px" width="100%">-->
<!--</div>-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
     <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/banner.jpg' %}" height="600px" width="100%" style="" class="d-block w-100"  alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/mensbanner.jpg' %}" height="600px" width="100%" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/facial-therapy.jpg' %}" height="600px" width="100%" class="d-block w-100" alt="...">
    </div>
      <div class="carousel-item">
      <img src="{% static 'images/banner2.jpg' %}" height="600px" width="100%" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-fluid mt-5" style="margin-bottom:100px;">
    <h3 class="text-center fst-normal fw-bold">Our Services</h3>
    <p style="text-align:justify:line-height:2;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
</div>
<div class="container-fluid mt-2">
    <img src="{% static 'images/banner4.jpg' %}" height="600px" width="100%">
</div>
<hr>

<div class="container-fluid mt-3" style="margin-bottom:100px;">
<div class="row">
{% for i in c %}
    <div class="col-sm-4">

    <div class="card " style="width: 18rem ; ">
  <img src="{{i.image.url}}" height="150px; width=20px;" class="card-img-top" alt="...">
  <div class=" card card-body">
    <h5 class="card-title text-center"></h5>

      <a href="" style="display: block; margin: 0 auto; text-align: center;" class="btn btn-primary">product</a>

<!--      display: block;: Makes the link a block-level element, taking up the full width available.-->
<!--margin: 0 auto;: Sets the top and bottom margins to 0 and horizontally centers the element by setting left and right margins to auto.-->
<!--text-align: center;: Centers the text content of the link within the block.-->


  </div>
    </div>
    </div>{% endfor %}
</div>
</div>
{% endblock %}